<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="UMController.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- Dieser Abschnitt definiert die Protokollierungskonfiguration für My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog" />
                    <!-- Auskommentierung des nachfolgenden Abschnitts aufheben, um in das Anwendungsereignisprotokoll zu schreiben -->
                    <!--<add name="EventLog" />-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
            <!-- Auskommentierung des nachfolgenden Abschnitts aufheben und APPLICATION_NAME durch den Namen der Anwendung ersetzen, um in das Anwendungsereignisprotokoll zu schreiben -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME" /> -->
        </sharedListeners>
    </system.diagnostics>
 <runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
		</assemblyBinding>
	</runtime>
 <userSettings>
  <UMController.My.MySettings>
   <setting name="XYVOXEL" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="ZVOXEL" serializeAs="String">
    <value>6</value>
   </setting>
   <setting name="NORMALIZE_IMAGE" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="SCALEBARLENGTH" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="STORELENSLOCATIONS" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="STEPVEL" serializeAs="String">
    <value>20</value>
   </setting>
   <setting name="STEPACC" serializeAs="String">
    <value>5</value>
   </setting>
   <setting name="STEPWIDTH" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="STEPWAIT" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="LENSSTEPWIDTH" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="PROJECTNR" serializeAs="String">
    <value />
   </setting>
   <setting name="EXPERIMENT" serializeAs="String">
    <value />
   </setting>
   <setting name="SPECIMEN" serializeAs="String">
    <value />
   </setting>
   <setting name="PERFUSIONDATE" serializeAs="String">
    <value />
   </setting>
   <setting name="DETAIL" serializeAs="String">
    <value />
   </setting>
   <setting name="WAVELENGTH" serializeAs="String">
    <value>488 nm</value>
   </setting>
   <setting name="LASERPOWER" serializeAs="String">
    <value>200 mW</value>
   </setting>
   <setting name="MICROSCOPE" serializeAs="String">
    <value>Olympus</value>
   </setting>
   <setting name="OBJECTIVE" serializeAs="String">
    <value>10x</value>
   </setting>
   <setting name="POSTMAG" serializeAs="String">
    <value>1x</value>
   </setting>
   <setting name="CYLLENS" serializeAs="String">
    <value>new system</value>
   </setting>
   <setting name="SLIT" serializeAs="String">
    <value>none</value>
   </setting>
   <setting name="COMMENTS" serializeAs="String">
    <value />
   </setting>
   <setting name="RECMODE" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="NIMAGES" serializeAs="String">
    <value>1000</value>
   </setting>
   <setting name="STARTNUM" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="SCANMODE" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="CAMERAMODE" serializeAs="String">
    <value>0</value>
   </setting>
   <setting name="CAMERATYPE" serializeAs="String">
    <value>2</value>
   </setting>
   <setting name="CAMERABACKGROUND" serializeAs="String">
    <value>100</value>
   </setting>
   <setting name="SAVEFULLRANGETIFFS" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="CAMERAROTATED" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="HDRICLIP" serializeAs="String">
    <value>90</value>
   </setting>
   <setting name="HDRION" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="HRIratio" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="UNDEREXPLIMIT" serializeAs="String">
    <value>1</value>
   </setting>
   <setting name="OVEREXPLIMIT" serializeAs="String">
    <value>99</value>
   </setting>
   <setting name="EXPOSURE" serializeAs="String">
    <value>1</value>
   </setting>
  </UMController.My.MySettings>
 </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>